<!DOCTYPE html>
<html>
  <head>
    <title>MagicTax Report</title>
    
    <style>
      {{style}}
    </style>
  </head>
  <body>
    
    <h1> MagicTax Report </h1>
    
    <table>

      <tr>
        <th> Amount </th>
        <th> Description </th>
      </tr>

      {{#each table.rows}}
      <tr>
        <td> ${{this.value}} </td>
        <td> {{this.label}} </td>
      </tr>
      {{/each}}

    </table>

    <h2> Total: ${{total}} </h2>
    
  </body>
</html>

